<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="../../assets/css/common.css">
  </head>
  <body> 
    <div class="wrapper">
      <header>
        <div class="c-header c-header__left"><a class="c-header__link c-header__link--active" href="#"><img src="../../assets/images/img-baystars.png" alt="Bitmap" title="Bitmap">
            <div class="c-header__text">
              <p class="c-header__text--jp">広島ホームテレビ, 広島ホームテレビ</p>
              <p class="c-header__text--en">baystars ticket app</p>
            </div></a></div>
        <div class="c-header c-header__right"><a class="c-header__link" href="#"><img src="../../assets/images/img-baystars.png" alt="Bitmap" title="Bitmap">
            <div class="c-header__text">
              <p class="c-header__text--jp">広島ホームテレビ, 広島ホームテレビ</p>
              <p class="c-header__text--en">my baystars</p>
            </div></a></div>
      </header>
      <main>
      </main>
      <footer>
        <div>this is footer</div>
      </footer>
    </div>
  </body>
</html>