extends ../../components/components.layout.pug

block title
    - var titlePage = "TICKET"

block scripts
    script(type="text/javascript" src="/assets/js/jquery.min.js")
    script(type="text/javascript" src="/assets/js/main.js")

block content
    h1 this is page ticket



