doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    block title 
    title #{titlePage}
    link(rel='stylesheet', href='../../assets/css/common.css')
  body 
    .wrapper
        header
            .c-header.c-header__left
                a.c-header__link.c-header__link--active(href='#')
                    img(src='../../assets/images/img-baystars.png', alt='Bitmap', title='Bitmap')
                    .c-header__text
                        p.c-header__text--jp 広島ホームテレビ, 広島ホームテレビ
                        p.c-header__text--en baystars ticket app
            .c-header.c-header__right
                a.c-header__link(href='#')
                    img(src='../../assets/images/img-baystars.png', alt='Bitmap', title='Bitmap')
                    .c-header__text
                        p.c-header__text--jp 広島ホームテレビ, 広島ホームテレビ
                        p.c-header__text--en my baystars

        main
            block content

        footer
            div this is footer

        block scripts
        
        